html {box-sizing: border-box;}
*, *:before, *:after {box-sizing:inherit;}


body{
	color: #303030;
	text-align: center;
}

h3{
    font-size: 20px;
}

p{
    font-size:15px;
}
.mainnav{
	overflow: hidden;
	list-style-type: none;
	background-color: #f58c2a;
}

#center{
	position:relative; 
	top:10px;
}

.mainnav li {float: left;}
.mainnav li a {
	text-decoration: none;
	display: block;
	padding: 30px 20px;
	color: #ffffff;
	text-align: center;
}

#logo{
    color: #F58C2A;
    text-align: center;
    font-size: 40px;
	padding: 0px;
  }
  
.footer{
	background-color:#303030;
    background-image:linear-gradient(grey,#303030);
	height:300px;
}

#footerlogo{
	color:#ffffff;
	text-align:left;
	padding: 20px 30px;
	font-size:30px;
}
